<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth-Passport</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav ul {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aquamarine;
        }
        nav li {
            padding: 20px;
            list-style-type: none;
        }
        nav a {
            text-decoration: none;
            color: red;
        }
        main {
            text-align: center;
            margin: 30px;
        }
        main h3 {
            margin: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/profile">Profile</a></li>
            <% if{user} { %> 
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <main>
        <h3>Hello, hi there, how are you doing?</h3>
        <p>This is passport.js OAuth practise project.</p>
        <p>Checkout my Github Profile</p>
    </main>
</body>
</html>